[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=6.2.4"

[packages]
linkml = {editable = true, ref = "ccdh-dev", git = "https://github.com/cancerDHC/linkml.git"}
mkdocs = "*"
mkdocs-material = "*"
mike = "*"
rdflib-pyld-compat = "*"

[requires]
python_version = "3.8"
